.Btn:hover {
    background: linear-gradient(306.99deg, #7AF57A -13.72%, #51C8EF 102.02%);
    box-shadow: 0 0 20px 1px #72EC90;
    transition: all 0.2s ease-out;
}

.Btn:hover::before {
    animation: sh02 0.5s 0s linear;
}

.Btn::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 12px #fff;
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.Btn:active { box-shadow: 0 0 0 0 transparent; transition: box-shadow 0.2s ease-in;}
* { scrollbar-width: unset !important;}
*::-webkit-scrollbar { height: 0; width: 0;}
.backToTop::before { content: "Back To Top" !important;}
.loader::before,
.loader::after { animation: rotate9 1s infinite cubic-bezier(0.77, 0, 0.175, 1);}
.loader::after {animation-delay: .5s;}
@keyframes rotate9 {
    0%,
    100% {
        left: 50px;
    }

    25% {
        transform: scale(.3);
    }

    50% {
        left: 0;
    }

    75% {
        transform: scale(1);
    }
}